<!DOCTYPE html>
<html>
  <head>
    <title>THANKYOU</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="container">
        <div> Your email <%=session.user.email %> has been added successfully to our subscribers list.</div>
    </div>
</body>

</html>
